body {
  text-align: center;
  background: #E3F2FD;
}
nav ul {
  position: fixed;
  background: #FFAB91;
  margin: -10px;
}
nav ul li {
    display: inline-block;
    margin: 35px;
    margin-bottom: 25px;
    margin-top:25px;
    background: #FFAB91;
}
.welcome {
    top: 0;
    background: #FFAB91;
    min-height: 55vh;
    padding-top: 45vh;
}
ul {
  position: fixed;
  text-align: right;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}
.work {
    padding-top: 60px;
    margin-top: -60px;
}
.project-pic {
  margin: 30px;
  border: 2px solid black;
}
@media(min-max 600px) {
  p {
    font: 10px;
  }
}
.header {
  padding: 160px 0 110px;
}
#contacts {
      background: #C8F7C5;
    padding-bottom: 160px;
  margin: 20px;
}
.contact-info {
      display: inline-block;
    font-weight: bold;
    margin: 0 35px 0px 35px;
    list-style-type: none;
    border: 2px solid #90C695;
    border-radius: 10%;
    width: 200px;
    height: 100px;
    line-height: 100px;
    background: #e0ebe8;
    color: #008080;
    text-decoration: none;
}
